body {
  margin: 0;
  padding:0;
  width:100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(82, 82, 82);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-color{
  background-color: #26282E;
}
.white-font{
  color:rgb(201, 201, 201);
}
.container{
  background-color: rgb(82, 82, 82);
}
.header{
  background: url('./images/header.jpg');
  width:100%;
  height:400px;
  background-size: contain;
  background-size: cover;
  padding: 60px;
  color: rgb(207, 207, 207);
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
}
.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-name {
  margin: 0;
  font-size: 80px;
  text-align: center;
  color: white;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
.header-job {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;

}
.info{
  color:rgb(182, 182, 182);
  width:500px;
  height:300px;
  margin:0 auto;
  margin-bottom: 220px;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 10px;
  padding:15px;
  margin-top: 20px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  -moz-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  font-size:22px;
}
.info-aboutme{
  color:rgb(182, 182, 182);
  width:500px;
  height:370px;
  margin:0 auto;
  margin-bottom: 220px;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 10px;
  padding:15px;
  margin-top: 20px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  -moz-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  font-size:22px;
}
.info-projects{
  color:rgb(182, 182, 182);
  width:500px;
  height:320px;
  margin:0 auto;
  margin-bottom: 220px;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 10px;
  padding:15px;
  margin-top: 20px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  -moz-box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  box-shadow: 0px 9px 24px -1px rgba(0,0,0,0.92);
  font-size:22px;
}
.info h1{
  padding-bottom:4px;
}
.skills-container{
  width:250px;
  padding:2px;
}
.skills-icon-container{
  width:40px;
  display: inline-block;
}
.skills-text-container{
  width:200px;
  display: inline-block;

}
.skill-text{
  position: relative;
  bottom:2px;
}
.skill-icon{
  font-size: 30px;
}
.info:hover{
  width:520px;
  height:320px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
}
.info-aboutme:hover{
  width:520px;
  height:390px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
}
.info-projects:hover{
  width:520px;
  height:340px;
  transition: width 0.2s, height 0.2s;
  -webkit-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 25px 19px rgba(0,0,0,0.64);
}
.scrollS{
  height:40px;
  margin-top:-220px;
}
.player{
  width:100%;
  position: relative;
  float:left;
  text-overflow: ellipsis;
  height:100px; 
  background-color:#1f1f1f;
}
.music-container{
  color:rgb(201, 201, 201);
  font-size: 18px;
  width:100%;
  float: right;
  max-width: calc(100vw - 180px);
  overflow: hidden;
  height:calc(100vh - 150px);
  overflow: auto
}
.top-view{
  width:100%;
  height:40px;
  color:rgb(201, 201, 201);
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid rgb(97, 97, 97);

}
.middle-view{
  width:100%;
  height:54px;
  color:rgb(201, 201, 201);
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid rgb(97, 97, 97);
  float:left;
  text-overflow: ellipsis
}

.middle-view-selected{
  width:100%;
  height:54px;
  color: rgb(56, 172, 10);
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid rgb(97, 97, 97);
  background-color: rgb(100, 100, 100);
  float:left;
  text-overflow: ellipsis
}
.middle-view-selected:hover{
  cursor: default;
}
.middle-view:hover{
  background-color: rgb(68, 68, 68);
  cursor: default;
}
.number{
  height:54px;
  width:30px;
  padding-top:13px;
  padding-left:10px;
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

}
.title{
  height:54px;
  width:20%;
  padding-top:13px;
  padding-left:10px;
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.author{
  height:54px;
  display: inline-block;
  width:20%;
  padding-top:13px;
  padding-left:10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.time{
  height:54px;
  width:18%;
  padding-top:13px;
  padding-left:10px;
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.time-clock{
  height:54px;
  width:18%;
  padding-top:10px;
  padding-left:19px;
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.play-button-list{
  position: absolute;
  right:20px;
  top:10px;
}
.play-button-list:hover{
  color:rgb(129, 189, 105);
  cursor:default;
  font-size: 38px;
}
.heart{
  position: absolute;
  right:75px;
  top:20px;
}
.heart:hover{
  color:rgb(129, 189, 105);
  cursor:default;
  font-size: 25px;
}
.player-control-buttons{
  width:500px;
  height:60px;
  position: absolute;
  top: 35%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}
.play-button{
  padding-left: 20px;
}
.play-button:hover{
  color:rgb(129, 189, 105);
}
.left-button{
  padding-left: 50px;
}
.left-button:hover{
  color:rgb(129, 189, 105) ;
}
.right-button{
  padding-left: 20px;
}
.right-button:hover{
  color:rgb(129, 189, 105) ;
}
.repeat-button{
  padding-top:35px;
  padding-left:120px;
}
.repeat-button:hover{
  color:rgb(129, 189, 105) ;
}
.repeat-button-on{
  padding-top:35px;
  padding-left:120px;
  color: rgb(76, 141, 50);
}
.repeat-button-on:hover{
  color:rgb(129, 189, 105) ;
}
.random-button{
  padding-left:50px;
}
.random-button:hover{
  color:rgb(129, 189, 105) ;
}
.random-button-on{
  padding-left:50px;
  color: rgb(76, 141, 50);
}
.random-button-on:hover{
  color:rgb(129, 189, 105) ;
}
.duration-bar{
  width:80%;
  float: left;
  height:12px;
  background-color: #d3d3d3;
  border-radius: 4px;
}
.currentTime-bar{
  width:0%;
  height:12px;
  background-color: rgb(76, 141, 50);
  border-radius: 4px;
  padding-top: 10px;
}
.progr-bar{
  width:500px;
  position: absolute;
  bottom: 10%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.currentTime{
  width:10%;
  float: left;
  height:12px;
  font-size: 15px;
  color:rgb(201, 201, 201);
  padding-right: 10px;
  position: relative;
  bottom:6px;
}
.duration{
  padding-left: 15px;
  padding-bottom: 10px;
  float: left;
  width:10%;
  height:12px;
  font-size: 15px;
  color:rgb(201, 201, 201);
  position: relative;
  bottom:6px;
}
.slider {
  -webkit-appearance: none;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  float: right;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(76, 141, 50);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(76, 141, 50);
  cursor: pointer;
}
.volume-slider{
  width:150px;
  position: absolute;
  bottom:22%;
 right:-60px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.volume-icon{
  float: left;
  position: relative;
  bottom:4px;
}
.current-title{
  font-size: 17px;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.current-artist{
  font-size: 14px;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.current-song{
  color:rgb(201, 201, 201);
  height:54px;
  width:23%;
  padding-left:30px;
  padding-top: 5px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar{
  height: calc(100vh - 50px);
  width: 180px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: rgb(43, 43, 43);
  overflow-x: hidden;
  padding-bottom: 100px;
  color:rgb(201, 201, 201);
  font-size: 17px;
}
.spinner{
  position: absolute;
  left:40%;
  top:40%;
}
.artist-list{
  padding-bottom: 6px;
  padding-top:6px;
  padding-left:10px;
  border-bottom:1px solid rgb(97, 97, 97);
}
.artist-list:hover{
  border-bottom:1px solid rgb(97, 97, 97);
  background-color: rgb(68, 68, 68);
  cursor: default;
}
.artist-list-selected{
  padding-bottom: 6px;
  padding-top:6px;
  padding-left:10px;
  border-bottom:1px solid rgb(97, 97, 97);
  background-color: rgb(100, 100, 100);
  color: rgb(56, 172, 10);
}
.artist-list-selected:hover{
  cursor: default;
}
.my-music-button{
  margin-top:15px;
  margin-left:10px;
  padding:5px;
  border-radius: 4px;
  width:100px;
}
.my-music-button-selected{
  margin-top:15px;
  margin-left:10px;
  padding:5px;
  border-radius: 4px;
  width:100px;
  background-color: rgb(100, 100, 100);
  color: rgb(56, 172, 10);
}
.my-music-button-selected:hover{
  cursor: default;
}
.list-icon{
  padding-right:5px;
}
.my-music-button:hover{
  cursor: default;
  background-color: rgb(83, 83, 83);
}
.box{
  width:100%;
  height:calc(100vh - 140px);
  background-color: rgb(82, 82, 82);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home-container{
  background-color: rgb(82, 82, 82);
}
.navbar{
  background-color: #363636;
}
.userlist-container{
  color:rgb(201, 201, 201)
}
.scrollspy-button:hover{
  -webkit-box-shadow: 0px 6px 53px 19px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 53px 19px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 53px 19px rgba(0,0,0,0.64);
  width:100px;
}
.scrollspy-button{
  width:93px;
}
.footer{
  background-color:#26282E ;
  height:200px;
}
.footer-copyright{
  background-color:#26282E ;
  font-size: 15px;
  padding-top: 30px;
  overflow: hidden;
}
.footer-item{
  background-color:#26282E ;
  font-size: 25px;
}
.aboutme-text{
  font-size:19px;
  padding-bottom: 4px;
}
.aboutme-schools{
  font-size:18px;
}
.aboutme-schools a{
  position: relative;
  padding-bottom:0;
  bottom:12px;
}
.aboutme-schools h3{
  padding-top: 5px;
  padding-bottom: 7px;
}
.card{
  -webkit-box-shadow: 0px 9px 24px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 9px 24px -1px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 9px 24px -1px rgba(0, 0, 0, 0.63);
}
.scroll-buttons{
  width: 120px;
  top: 250px; 
}
.navbar-default .navbar-toggler .icon-bar {
  background-color: white;
}
@media only screen and (max-width: 750px) {
  .header-name {
    font-size: 60px;

  }
  .header-job {
    font-size: 30px;
  }
 
}
@media only screen and (max-width: 730px) {
  .info{
    width:390px;
   left:50px;
  }
  .info-aboutme{
    width:390px;
    height:420px
  }
  .info-projects{
    width:390px;
  }
  .info:hover{
    width:410px;
  }
  .info-aboutme:hover{
    width:410px;
    height:440px
  }
  .info-projects:hover{
    width:410px;
  }
}
@media only screen and (max-width: 680px) {
  .footer-copyright{

    padding-top: 0;
  }
  .info{
    width:370px;
  }
  .info-aboutme{
    width:370px;
    height:450px
  }
  .info-projects{
    width:370px;
  }
  .info:hover{
    width:390px;
  }
  .info-aboutme:hover{
    width:390px;
    height:470px
  }
  .info-projects:hover{
    width:390px;
  }
  .header-name {
    font-size: 50px;

  }
  .header-job {
    font-size: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .scrollspy-button{
    visibility: hidden;
  }
}