.main-container {
    width: 100vw;
    height: calc(100vh - 49px);
    background-color: #e2e2e2;
    text-align: center;
    color: 'white';
    overflow: hidden;

    .country-container {

        height: 550px;
        width: 400px;


    }

    .data-columns {
        left: 50px;
        top: 60px
    }

    .countryList {
        position: relative;
        top: 80px;
    }

    .chart-col {
        position: relative;
        top: 40px;

        .chart-container {
            position: relative;
            left: 12%;
        }
    }

    .cases-header {
        background-image: none;
    }

    .chart {
        width: 80%;
        height: 100%;
        background-color: rgb(207, 207, 207);
    }
}