.main-container {
    width: 100vw;
    height: calc(100vh - 49px);
    background-color: #d6d6d6;
    text-align: center;
    color: 'white';
    overflow: hidden;
    min-height: 850px;

    .country-container {

        height: 550px;
        width: 90%;
        margin-left: 50px;

    }

    .data-columns {
        left: 50px;
        width: 200px;
    }


    .chart-col {
        position: relative;
        top: 40px;

        .chart-container {
            position: relative;
            right: 38%;
            margin-top: 5%;
            top: -40px
        }
    }

    .cases-header {
        background-image: none;
    }

    .select-header {
        background-image: none;
        width: 100%;
    }

    .chart {
        width: 600px;
        height: 100%;
        color: #5a5a5a;
        background-color: rgb(242, 242, 242);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);

        tspan {
            font-size: 12px !important;
        }
    }

    .first-row {
        height: calc(70% - 49px)
    }

    .second-row {
        height: 100%;

        .countryTable {
            margin-top: 50px;
            height: 30%;
            overflow: auto;

        }
    }

    .ascending {
        background-color: rgb(242, 242, 242) !important
    }

    .descending {
        background-color: rgb(242, 242, 242) !important
    }

    th:hover {
        background-color: rgb(242, 242, 242) !important
    }

    .map-container {
        width: 200px;
        margin-top: 50px;
        margin-left: 40px;
        text-align: center;
        justify-content: center;

    }

    .country-row {
        &:hover {
            background-color: rgb(249, 249, 249)
        }
    }

    .country-row-selected {
        background-color: rgb(242, 242, 242)
    }
}