.main-container {
  width: 100vw;
  height: calc(100vh - 49px);
  background-color: #d6d6d6;
  text-align: center;
  color: "white";
  overflow: hidden;
  min-height: 660px;
}
.main-container .country-container {
  height: 550px;
  width: 48%;
  margin-left: 50px;
}
.main-container .data-columns {
  left: 50px;
  top: 60px;
}
.main-container .countryList {
  position: relative;
  top: 80px;
}
.main-container .chart-col {
  position: relative;
  top: 40px;
}
.main-container .chart-col .chart-container {
  position: relative;
  left: 12%;
}
.main-container .cases-header {
  background-image: none;
}
.main-container .select-header {
  background-image: none;
  width: 100%;
}
.main-container .chart {
  width: 720px;
  height: 100%;
  color: #5a5a5a;
  background-color: #e5e5e5;
  border-radius: 10px;
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.137);
}
.main-container .countryTable {
  margin: 0 30px;
  height: 230%;
}
.main-container .first-row {
  height: calc(70% - 49px);
}
.main-container .second-row {
  height: calc(30% - 49px);
}