.ascending {
  background-color: #f2f2f2 !important;
}

.descending {
  background-color: #f2f2f2 !important;
}

th:hover {
  background-color: #f2f2f2 !important;
}

.country-row:hover {
  background-color: #f9f9f9;
}

.second-row {
  height: 100%;
}
.second-row .countryTable {
  margin-top: 50px;
  height: 30%;
  overflow: auto;
}

.country-row-selected {
  background-color: #f2f2f2;
}

body,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #d6d6d6 !important;
  overflow-x: hidden;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.cases-and-chart-container {
  grid-column: 2/12;
  margin-top: 20px;
  padding: 10px;
  background-color: #c5c5c5;
  height: 90%;
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.05);
}
.cases-and-chart-container .cases {
  font-size: 0.8em;
}
.cases-and-chart-container .cases tr {
  padding: 0 !important;
}
.cases-and-chart-container .chart {
  padding-top: 10px;
  height: 300px;
}
.cases-and-chart-container .chart tspan {
  font-size: 0.8em;
}

.list {
  grid-column: 2/12;
}

.map {
  grid-column: 2/12;
  margin-bottom: 10px !important;
  height: 300px;
}

.table {
  grid-column: 1/13;
  margin: 0 !important;
}
@media screen and (min-width: 960px) {
  .cases {
    font-size: 1em !important;
  }

  .cases:nth-child(1) {
    grid-column: 2/7;
  }

  .chart:nth-child(2) {
    grid-column: 2/7;
    padding-top: 10px;
    grid-row: 2;
  }
  .chart:nth-child(2) tspan {
    font-size: 0.8em;
  }

  .cases:nth-child(3) {
    grid-column: 7/12;
  }

  .chart:nth-child(4) {
    grid-column: 7/12;
    padding-top: 10px;
    grid-row: 2;
  }
  .chart:nth-child(4) tspan {
    font-size: 0.8em;
  }

  .list {
    grid-column: 2/12;
  }

  .map {
    grid-column: 2/12;
    margin-bottom: 10px !important;
    height: 500px;
  }

  .table {
    grid-column: 1/13;
    margin: 0 !important;
  }
  .table .table-header {
    position: sticky;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .cases-and-chart-container:nth-child(1) {
    grid-column: 1/7;
    margin-left: 10px;
  }

  .cases-and-chart-container:nth-child(2) {
    grid-column: 7/13;
    padding-top: 10px;
    grid-row: 1;
    margin-right: 10px;
  }
  .cases-and-chart-container:nth-child(2) tspan {
    font-size: 0.8em;
  }

  .list {
    grid-column: 4/10;
    grid-row: 2;
  }
}
@media screen and (min-width: 1500px) {
  .list {
    grid-column: 4/10;
    grid-row: 2;
  }

  .map {
    grid-column: 2/12;
    margin-bottom: 10px !important;
    height: 500px;
  }
}